<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand"><i>SplitWise</i></a>
  <div class="navbar-nav">
      <%= link_to "CREATE GROUP", new_group_path, class: "btn btn-light" %>
  </div>
</nav>